discord
websockets
asyncio
beautifulsoup4
asyncpg
requests==2.31.0
dhooks==1.0.9
aiohttp<3.5.0,>=3.3.0
git+https://github.com/Rapptz/discord.py
psutil
yarl<1.3
art
lxml
ffmpeg
PyNaCl
urbandictionary
spotdl
youtube_dl
