discord
websockets
asyncio
beautifulsoup4
asyncpg
requests==2.21.0
dhooks
aiohttp
git+https://github.com/Rapptz/discord.py
psutil
yarl
art
lxml
ffmpeg
PyNaCl
urbandictionary
spotdl
colour
discord.webhooks
psutil
lxml
PythonGists
pytz
