discord
websockets
asyncio
beautifulsoup4
asyncpg
requests==2.20.1
dhooks==1.0.9
aiohttp<3.5.0,>=3.3.0
git+https://github.com/Rapptz/discord.py
psutil
yarl<1.3
art
lxml
ffmpeg
PyNaCl
urbandictionary
spotdl
youtube_dl
colour
discord.webhooks
psutil
lxml
python_dateuti
PythonGists
pytz
spice_api